<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Cars, Vue3 + REST</title>
    <style>
        button {
            margin: 5px 5px 5px 5px
        }
    </style>
</head>

<body>
    <h1>Posts, Vue3 + REST</h1>

    <div id="app">

        <button class="btn btn-warning" v-on:click="cleanList">Clean the list</button>
        <br>
        <button class="btn btn-primary" v-on:click="getByCarId(getCarId)">Get By carId</button>
        <input v-model="getCarId" placeholder="User Id" type="number">
        <br>
        <button class="btn btn-primary" v-on:click="getAllCars">Get All</button>
        <br>
        <button class="btn btn-primary" v-on:click="PostCar">Add</button>
        <br>
        <input v-model="carId" placeholder="Car Id" type="number">
        <br>
        <input v-model="carVendor" placeholder="Car Vendor" type="string">
        <br>
        <input v-model="carModel" placeholder="Car Model" type="string">
        <br>
        <input v-model="carPrice" placeholder="Car Price" type="number">
        <br>
        <button class="btn btn-primary" v-on:click="deleteByCarId(deletecarId)">Delete car</button>
        <br>
        <input v-model="deletecarId" placeholder="deleteCar Id" type="number">
        <br>

        <div v-if="error" style="color: red">error: {{error}}</div>
        <div style="color: green">Statuscode: {{statuscode}}</div>
        <h1>Car List</h1>


        <ul v-if="carslist.length > 0">
            <li v-for="car in carslist" v-bind:key="car.id">
                Vendor {{car.vendor}}: {{car.model}} : id {{car.id}}
            </li>
        </ul>       
        <div v-else style="font-style: italic;">No cars to show</div>
    </div>

    <script src="js/index.js"></script>
</body>

</html>